*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    background-image: url(temp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.container{
    max-width: 450px;
    background:linear-gradient( black,rgb(0, 128, 111),black);
    border-radius: 18px;
    box-shadow: 0px 0px 15px 3px rgba(6, 243, 231, 0.4);
    font-family: sans-serif;
    padding: 20px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.Temperature-icon{
    font-size: 45px;
    color: #ffffff;
}

h1{
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 30px;
    
}
label{
    font-size: 23px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    padding: 13px;
    display: block;
}

#celsius, #fahrenheit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input{
    flex: 5;
    height: 60px;
    font-size: 20px;
    /* font-weight: 600; */
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    /* padding: 0 10px; */
}
.icon{
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background:linear-gradient(red,blue);
    color: #fff;
    border-radius: 0 8px 8px 0;
}


.button{
    margin-top: 25px;
    text-align: center;
}


.button button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20rem;
    transition: 0.3s;
}

.button button:hover{
    background: #686566;
    color: #0bc3e4;
}